h1{
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}

.page{
  display: flex;
  height: 100vh;
  gap: 10px;  
}


.left{
  flex: 1;
  display: flex;
  flex-direction: column;     /* stack vertically */
  align-items: center;        /* horizontal centering */
  padding-top: 20px;          /* space from top */
  background: lightblue;
  border-radius: 8px;
  gap: 12px;                  /* spacing between items */
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;     /* stack vertically */
  align-items: center;        /* horizontal centering */
  padding-top: 20px;          /* space from top */
  background: lightcoral;
  border-radius: 8px;
  gap: 20px;                  /* spacing between items */
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.btn {
  background-color: rgb(0, 255, 225);
  color: black;
  font-size: 1.5rem;
  border-radius: 8px;
  font-size: 36px;
}

/* hover (before or after click) */
.btn:hover {
  background-color: aquamarine;
}

/* after click (permanent state) */
.btn.clicked {
  background-color: rgb(4, 213, 241); /* purple-ish */
}

/* hover after click — make sure clicked state is defined when hovered */
.btn.clicked:hover {
  background-color: aquamarine;
}

#board {
  width: 400px;        /* fixed space */
  height: 400px;
  display: grid;
  border: 2px solid black;
  border-radius: 8px;
  color: aqua;
  background-color: rgb(25, 183, 164);
}

.leaderboard{
    display: grid;    
    grid-template-columns: 1fr 1fr;
    width: 200px;
    gap: 10px;
    text-align: left;
}

.header{
  font-size: 25px;
  font-family: cursive;
}

.reset{
  width: 150px;
  height: 50px;
}

.counters{
  font-size: 20px;
  font-family: cursive;
}

.onlylb{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  flex-direction: column;
}

#selectSide{
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: fit-content;
}

select{
  height: 40px;
}